<section class="friend-link-notice">
  <header class="friend-link-notice__header">
    <h2 class="friend-link-notice__title">
      <span class="friend-link-notice__title-icon" aria-hidden="true">✦</span>
      加入本站友链方式
    </h2>
    <p class="friend-link-notice__subtitle">参照以下格式留言即可</p>
  </header>

  <textarea id="json-template" hidden readonly>"name": "EGS-blog",
  "url": "https://blog.egs.cc.cd",
  "avatar": "https://blog.egs.cc.cd/hero/avatar.png",
  "description": "heron_i的小站"</textarea>

  <div class="friend-link-code">
    <div class="friend-link-code__bar">
      <div class="friend-link-code__dots" aria-hidden="true">
        <span class="dot dot-red"></span>
        <span class="dot dot-yellow"></span>
        <span class="dot dot-green"></span>
      </div>
      <span class="friend-link-code__lang">json</span>
      <button type="button" class="friend-link-code__copy" id="copy-json-btn" title="复制代码" aria-label="复制代码">📋</button>
    </div>

    <pre class="friend-link-code__body"><code><span class="friend-link-code__line"><span class="friend-link-code__ln">1</span><span class="friend-link-code__text"> "name": "EGS-blog",  #站点名称</span></span><span class="friend-link-code__line"><span class="friend-link-code__ln">2</span><span class="friend-link-code__text"> "url": "https://blog.egs.cc.cd",  #站点链接 </span></span><span class="friend-link-code__line"><span class="friend-link-code__ln">3</span><span class="friend-link-code__text"> "avatar": "https://blog.egs.cc.cd/hero/avatar.png",  #站长头像 </span></span><span class="friend-link-code__line"><span class="friend-link-code__ln">4</span><span class="friend-link-code__text"> "description": "heron_i的小站"  #站点描述 </span></span><span class="friend-link-code__line"></pre>
  </div>

  <div class="friend-link-rules">
    <span class="friend-link-rules__plus" aria-hidden="true">+</span>

    <ul class="friend-link-rules__list">
      <li class="friend-link-rules__item"><span> 本站支持自动交换友链，在您提出申请之前，请将本站添加到友链 </span></li>
      <li class="friend-link-rules__item"><span> 感谢您对本站的支持，请在github仓库或qq提交友链 ~ ~ </span></li>
    </ul>

    <div class="friend-link-site-info">
      <p class="friend-link-site-info__title">
        <span aria-hidden="true"></span>
        本站友链信息如下：
      </p>
      <ul class="friend-link-site-info__list">
        <li>站点名称：<span class="friend-link-highlight">{{ .Site.Title }}</span></li>
        <li>站点链接：<span class="friend-link-highlight">{{ .Site.BaseURL }}</span></li>
        <li>站长头像：<span class="friend-link-highlight">https://blog.egs.cc.cd/hero/avatar.png</span></li>
        <li>站点描述：<span class="friend-link-highlight">heron_i的小站</span></li>
      </ul>
    </div>
  </div>
</section>
